
<div class="container-fluid">
    
   <img src="../../assets/online exam.png"/>

   <div class="banner_content">
       <h1 class="banner_title h1 title-line">
           Hackathon
          
       </h1>
       <div class="rte">
           <p>Hackathon provides
            service of online recruitment exams for placement drives.</p>
            <p> With hackathon, organizations can set their difficulty according to the levels of exam.</p>
            <input type="submit" routerLink="/Login/Student" value="Get Started" class="btn btn--primary"/>
            
       </div>
      
   </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-dark text-white">
          <img src="../../assets/card1.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
           <p class="card-text"> Due to traditional method of recruitment, time limit and other factors(like grade of college, etc.), many colleges remain unvisited. With this type of approach,
            organization cannot give chance to each student for proving himself/herself. Thus, it becomes difficult for organization to identify talent 
        from every college. Also, due to the current pandemic situation, it is nearly impossible to conduct such recruiment drives in any college.</p>
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-dark text-white">
          <img src="../../assets/card2.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
           <p class="card-text">All these difficulties can be easily solved with the help of online recruitment portal 'Hackathon'. Hackathon provides
            service of online recruitment exams for placement drives. With hackathon, organizations can set their difficulty according to the levels of exam.</p>
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-dark text-white">
          <img src="../../assets/card1.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
           <p class="card-text">Thus, Hackathon makes it easier for organizations to conduct their recruitment drives with broad scope and also provides equal 
            opportunity to each and every candidate to appear for drives.</p>
           </div>
        </div>
      </div>
    </div>
  </div>


  
  