.head
{
    background-color:rgb(151, 233, 183);
    margin-left:40px;
    margin-right:40px;
    Padding-top:20px;
    padding-bottom:20px;
    font-family: Arial, Helvetica, sans-serif;;
}
.regilink
{
    margin-left:40px;
    margin-right:1000px;
    margin-top:20px;
    Padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    background-color:rgb(224, 222, 222);
}
a
{
    text-decoration:none;
 
}
/* img{
    height:544px;
    width:956px;
    position:relative;left: 520px;top:-544px;
 
} */
.btn--primary{
background-color:rgb(79, 142, 167);

color: #272a31;
}

.banner_title{
    color:rgb(79, 142, 167);
    font:bold;
    
    
}
.title-line{
    position: relative;
    padding-bottom: 20px;
}
.card-img{
  
    height: 300px;
    
}
.card bg-dark text-white{
    width: 800px;
}
