
<!-- BANNER -->
   <section id="banner">
     <div class="container">
       <div class="row">
         <div class="col-md-6">
           <p class="promo-title">Hackathon</p>
           <p>Hackathon provides service of online recruitment exams for placement drives</p>

         </div>
         <div class="col-md-6 text-center banner-img">
           <img src="../../assets/home-banner-img1.png" class="img-fluid">
         </div>
       </div>
     </div>
      <img src="../../assets/wave.png" class="bottom-img">
   </section>

   <!------------Services Section----------->
   <section id="services">
     <div class="container text-center">
       <h1 class="title">WHAT WE DO</h1>
       <div class="row text-center">
         <div class="col-md-4 service ">
           <h4>Set Levels</h4>
           <hr>
           <img src="../../assets/home-level.png" class="service-img">
           <p> With hackathon, organizations can set the difficulty Level Of Each Exam. Allowing Them To Test A Range Of students</p>
          </div>
          <div class="col-md-4 service ">
            <h4>Broad Scope</h4>
            <hr>
            <img src="../../assets/home-person.png" class="service-img">
            <p>Hackathon Follows A Broad Scope Allowing Organizations To provides equal opportunity to each and every candidate</p>
          </div>
           <div class="col-md-4 service">
            <h4>Instant Results</h4>
            <hr>
            <img src="../../assets/home-manange.png" class="service-img">
            <p>Get Instant Detailed Results And Analytics On Each Test Allowing Your Organization To Select The Right Student </p>
           </div>
         </div>
         <button type="button" routerLink="Register" class="btn btn-primary">Get Started</button>
       </div>
    
   </section>
   <!-- WHY CHOOSE US -->
   <section id="why-us">
    <div class="container ">
      <h1 class="title text-center">Why Choose Us?</h1>
        <div class="row">
          <div class="col-md-6 mt-4">
            <h2>Why Are Different</h2>
            <ul>
              <li class="pt-3">We Understand Our Clients Buisness Goals First</li>
              <li class="pt-3">We Belive In Doing Buisness With Honey</li>
              <li class="pt-3">We Deliver On Time</li>
              <li class="pt-3">We Help You Hire The Best</li>
            </ul>
          </div>
          <div class="col-md-6">
            <img src="../../assets/home-whyUs.png" class="img-fluid">
          </div>
        </div>
      </div>
   
    </section>