
  <!----------------------- BANNER ------------------------->
   <section id="banner">
     <div class="container">
       <div class="row">
         <div class="col-md-6">
           <p class="promo-title">Hackathon</p>
           <p>Hackathon provides service of online recruitment exams for placement drives</p>
           <button type="button" routerLink="../About" class="btn btn-primary"><i class="far fa-hand-point-up"></i> Know More</button>
         </div>
         <div class="col-md-6 text-center banner-img">
           <img src="../../assets/HomePage/home-banner-img1.png" class="img-fluid">
         </div>
       </div>
      
     </div>
      <img src="../../assets/wave.png" class="bottom-img">
   </section>

   <!-------------------------------------- SERVICES SECTION ----------------------------->
   <section id="services">
     <div class="container text-center">
       <h1 class="title">WHAT WE DO</h1>
       <div class="row text-center">
         <div class="col-md-4 service ">
           <h4>Set Levels</h4>
           <hr>
           <img src="../../assets/HomePage/home-level.png" class="service-img">
           <p> With hackathon, organizations can set the difficulty Level Of Each Exam. Allowing Them To Test A Range Of students</p>
          </div>
          <div class="col-md-4 service ">
            <h4>Broad Scope</h4>
            <hr>
            <img src="../../assets/HomePage/home-person.png" class="service-img">
            <p>Hackathon Follows A Broad Scope Allowing Organizations To provides equal opportunity to each and every candidate</p>
          </div>
           <div class="col-md-4 service">
            <h4>Instant Results</h4>
            <hr>
            <img src="../../assets/HomePage/home-manange.png" class="service-img">
            <p>Get Instant Detailed Results And Analytics On Each Test Allowing Your Organization To Select The Right Student </p>
           </div>
         </div>
         <!-- <button type="button" routerLink="Register" class="btn btn-primary">Get Started</button> -->
       </div>
    
   </section>
   <!--------------------- WHY CHOOSE US ----------------------------->
   <section id="why-us">

    <div class="container">
        <h1 class="title text-center">Why Choose Us?</h1>
        <div class="row ">
          <div class="col-md-6 mt-4">
            <h2>Why Are Different</h2>
            <ul>
              <li class="pt-3">We Understand Our Clients Buisness Goals First</li>
              <li class="pt-3">We Belive In Doing Buisness With Honey</li>
              <li class="pt-3">We Deliver On Time</li>
              <li class="pt-3">We Help You Hire The Best</li>
              <li class="pt-3">We Belive In Going The Extra Mile</li>
              <li class="pt-3">We Belive On Continous Learning</li>
              <!-- <li class="pt-3">We Belive In Pushing Innovative Boundries</li> -->
            </ul>
          </div>
          <div class="col-md-6">
            <img src="../../assets/HomePage/home-whyUs.png" class="img-fluid">
          </div>
          </div>
          <!------ GET STARTED BUTTON ------>
        <div class="row text-center">
          <div class="col-md-12 pt-5">
            <button type="button" routerLink="../Register" class="btn btn-primary"><i class="fas fa-rocket"></i> Get Started</button>
          </div>
        </div>
      </div>
   
    </section>
