<div class="container-fluid ">
    <!--------------------- HEADING ROW  ---------------------->
    <div class="row heading-row shadow-sm bg-light">
        <div class="col-md-1 img-col">
            <img src="../../assets/admin-dashboard-feedback.png" >
        </div>
        <div class="col-md-6">
            <h3>Feeback Dashboard</h3>
            <h6 class="text-muted ">Find All The Student Feedbacks Here!</h6>
        </div>
    <!----------------------HORIZONTAL BREAK  ----------------->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!----------------------- CONTENT ROW  ------------------------->
    <div class="row">
        <div class="container-fluid content-container bg-light">
            <h4>Student Feedback List</h4>
            <!-- TABLE BEGIN -->
            <table class="table table-striped course-table">
                <thead>
                  <tr>
                    <th scope="col">Student ID</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Feedback</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>Bhusna</td>
                    <td>Too Hard</td>
                  </tr>
                  <tr>
                    <td scope="row">2</td>
                    <td>Kevin</td>
                    <td>Too Easy</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    </div>
</div>