<!------------------------------------------ ABOUT HACKATHON SECTION ---------------------------------->
<div class="how-section1"  style="background-color: white;">       
    <div class="row">
        <div class="col-md-5 mt-3">
          <br>
          <br>
            <h4 class = "mt-4 mb-3">About Hackathon</h4>
                        <h4 class="subheading">Hackathon makes it easy to connect with students and begin doing great work.</h4>
                        <p class="text-muted"> 
                         This website is developed for students, companies or any organization to conduct any 
                          examinations from this site.
                          Hackathon reduces gap between these companies or any organization and such potential candidates this platform 
                          will help the deserving candidates to showcase their conceptual skills through an online exam.</p>
                        </div>
        
        <div class="col-md-7 how-img">
            <img src="../../assets/AboutPage/about-banner-removebg.png" class="img-fluid"  alt="" style="height: 100%;width: 100%;"/>
        </div>
        <img src="../../assets/wave.png" class="bottom-img">
    </div>
 </div>
 <br> <br> <br> 
<!--------------------------------------- HOW HACKATHON WORKS SECTION ---------------------------------------------->

 <div class="container-fluid">
  <div class="row">
        <div class="card text-white" style="background-color:rgb(79, 142, 167);">
        <div class="card-body">
          <h1 class="title" style="text-align: center;">How Hackathon works</h1>
          <ul class="works-list list-unstyled ml-3">
            <li><p><img src="../../assets/AboutPage/test.png" class="mr-2" >Hackathon allows you to test your knowlege across various subjects as per the requirement.</p></li>
            <li><p> <img src="../../assets/AboutPage/level.png" class="mr-2" > Each subject is categorized into 3 levels starting from level 1.
                 The difficulty of the exams increases as the levels increase.    
            <li><p><img src="../../assets/AboutPage/proctor.png" class="mt-2 mr-2" > Each test is timed and digitally proctored for Added Peace Of Mind</p></li>
            <li><p><img src="../../assets/AboutPage/time.png" class="mr-2"> We generate detailed and instant analytics on each student after each exam is taken.
            </p></li>
            <li><p><img src="../../assets/AboutPage/fexibility.png" class="mr-2"> We allow coustomisation aspects of the test, giving you complete control </p></li>
          </ul>
          <br>
       </div>
      </div>
      </div>
      </div>
      <br><br><br><br><br>
<!------------Creators Section----------->
 <div class="container">
  <div class="row">
      <!-- <div class="card bg-info text-white" > -->
        <div class="card text-white" style="background: rgb(79, 142, 167);">
        <div class="card-body">
          <!-- <h4 class="card-title" style="text-align: center;"><br>Meet Our Creators</h4> -->
            <h1 class="title" style="text-align: center;">Meet Our Team</h1>
          <!-- <h6 class="card-subtitle mb-2"></h6> -->
          <!-- <p class="card-text"> </p> -->
          <br><br><br><br><br>
      </div>
      </div>
      </div>
      </div>

<!------------Card Section----------->

 <div class="container"  style="background-color:white; width: 100%;">
  <div class="card-deck" style="margin-top: -12.5%;">
    <div class="card">
      <img class="rounded-circle"   src="../../assets/AboutPage/boy2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Parikshit</h5>
        <p class="card-text">An Information Technology Graduate From Navi Mumbai</p>
        <p class="card-text"><small class="text-muted">India</small></p>
      </div>
    </div>
    <div class="card" >
      <img class="rounded-circle" src="../../assets/AboutPage/girl2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ashika</h5>
        <p class="card-text">An Information Technology Graduate From Mumbai</p>
        <p class="card-text"><small class="text-muted">India</small></p>
      </div>
    </div>
    <div class="card">
      <img class="rounded-circle" src="../../assets/AboutPage/boy1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jedidiah</h5>
        <p class="card-text">An Electronics And Telecom Graduate From Mumbai, Loves Bots, Pizza & HTML! </p>
        <p class="card-text"><small class="text-muted">India</small></p>
      </div>
    </div>
    <div class="card">
      <img class="rounded-circle" src="../../assets/AboutPage/girl1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bhoomi</h5>
        <p class="card-text">An Information Technology Graduate From Mumbai</p>
        <p class="card-text"><small class="text-muted">India</small></p>
      </div>
    </div>
  </div>
  <br>
</div>
<br><br>