

           <div class="container-fluid ">
            <!--------------------- HEADING ROW  ---------------------->
            <div class="row heading-row shadow-sm bg-light"> 
                
                <div class="col-md-3">
                    <h6>Exam Name:</h6>
                </div>
                <div class="col-md-3">
                    <h6>Level:</h6>
                </div>
                <div class="col-md-3">
                    <h6>Time Left:</h6>
                </div> 
                <div class="col-md-3">
                    <h6>Total Question:</h6>
                </div> 
 <!----------------------HORIZONTAL BREAK  ----------------->
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                 <!----------------------  ----------------->

                
                                 <div class="row">
                    <div class="container-fluid content-container bg-light">
                        <div class="row">
                            <!-- FIND EXAM CARD -->
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><h5>Question no:</h5></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="mb-3">
                                            <label for="Question">Question</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class=" btn btn-lg btn-muted btn-block">
                                                <span class="btn-label"></span>A
                                                <input type="radio" name="option" value="a"> &nbsp; Option 1 
                                              </label>
                                             </div>

                                             <div class="mb-3">
                                                <label class=" btn btn-lg btn-muted btn-block">
                                                    <span class="btn-label"></span>B
                                                    <input type="radio" name="option" value="b"> &nbsp; Option 2
                                                 </label>
                                             </div>

                                             <div class="mb-3">
                                                <label class=" btn btn-lg btn-muted btn-block">
                                                    <span class="btn-label"></span>C
                                                    <input type="radio" name="option" value="c"> &nbsp; Option 3
                                                 </label>
                                                 </div>

                                                 <div class="mb-3">
                                                    <label class=" btn btn-lg btn-muted btn-block">
                                                        <span class="btn-label"></span>D 
                                                        <input type="radio" name="option" value="d">&nbsp; Option 4                                            
                                                     </label>
                                                       </div> 

                                                       <div class="modal-footer text-muted mb-3"><button class="btn btn-lg btn-primary ">Next Question 
                                                        <i class="fas fa-angle-right"></i></button></div>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
   
                     