

           <div class="container-fluid ">
            <!--------------------- HEADING ROW  ---------------------->
            <div class="row heading-row shadow-sm bg-light"> 
               
                <div class="col-md-3">
                    <h5 *ngIf="this.exam">Exam Name: {{exam.Course_name}}</h5>
                </div>
                <div class="col-md-3">
                    <h5 *ngIf="this.exam">Level: {{exam.level}}</h5>
                </div>
                <div class="col-md-3">
                    <h5>Time Left:   <countdown class="timer" [config]="config" (event)="onTimerFinished($event)"> $!m!:$!s!</countdown></h5>
                </div> 
                <div class="col-md-3">
                    <h5 *ngIf="this.questions">Total Question: {{questions.length}}</h5>
                </div> 
      
 <!----------------------HORIZONTAL BREAK  ----------------->
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                 <!----------------------  ----------------->

                
                    <div class="row">
                    <div class="container-fluid content-container bg-light">
                        <div class="row">
                            <!-- FIND EXAM CARD -->
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><h5>Question no:{{i+1}}</h5></div>
                                    <div class="card-body">
                                        <form >
                                        <div class="mb-3">
                                            <label for="Question"  ></label>
                                            <H4 >{{question?.Question}}</H4>
                                        </div>
                                        <div class="mb-3">
                                            <label class=" btn btn-lg btn-muted btn-block">
                                                <span class="btn-label" ></span>A
                                                <input type="radio" name="option1"  [(ngModel)]="optionSelected"  value="a"> &nbsp; {{question.Option1}}
                                              </label>
                                        </div>
                                       <div class="mb-3">
                                                <label class=" btn btn-lg btn-muted btn-block">
                                                    <span class="btn-label"></span>B
                                                    <input type="radio" name="option2"  [(ngModel)]="optionSelected"   value="b"> &nbsp;  {{question.Option2}}
                                                 </label>
                                             </div>

                                             <div class="mb-3">
                                                <label class=" btn btn-lg btn-muted btn-block">
                                                    <span class="btn-label"></span>C
                                                    <input type="radio" name="option3"  [(ngModel)]="optionSelected"   value="c"> &nbsp;  {{question.Option3}}
                                                 </label>
                                                 </div>

                                                 <div class="mb-3">
                                                    <label class=" btn btn-lg btn-muted btn-block">
                                                        <span class="btn-label"></span>D 
                                                        <input type="radio" name="option4"  [(ngModel)]="optionSelected"  value="d">&nbsp;  {{question.Option4}}                                          
                                                     </label>
                                                       </div> 
                                                   
                                                       <div class="modal-footer text-muted mb-3">
                                                        <!-- PREVIOUS QUESIONT BUTTON -->
                                                        <button class="btn btn-lg btn-primary " *ngIf="i>0" (click)="previousQuestion()">Previous Question
                                                            <i class="fas fa-angle-left"></i></button>
                                                        <!-- NEXT QUESTION BUTTON -->
                                                        <button class="btn btn-lg btn-primary " (click)="nextQuestion()">{{buttonText}} 
                                                        <i class="fas fa-angle-right"></i></button>
                                                            
                                                       
                                                    </div>
                                                 
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <!----------------------------------- RESULT MODAL ------------------------------------------------------------------->
              <div class="modal fade" id="resultModal" data-bs-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="resultModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="successModalTitle">Your Results!!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!-- MODAL BODY -->
                    <div class="modal-body">
                      <div class="row">
                          <div class="col">
                              <img src="../../assets/student-dashboad-result.png" class="img-fluid"> Your Score! {{score}} %
                          </div>
                      </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="refresh()">Close</button>
                      </div>
                  </div>
                </div>
              </div>

                </div>
   
                     