<div class="container login-container ">
    
    <div class="card shadow-lg" >
        <div class="row g-0">
        <div class="col-md-4">
             <img src="../../assets/login.png" class = "img-fluid" alt="...">
            
        </div>
        <!-------------------------------------START OF CARD BODY  ------------------------------------------------->
        <div class="col-md-7">
            <div class="card-body">
            <h2 class="card-title">Admin Login</h2>
            <h4 class="card-subtitle">Sign Into Your Account</h4>
            <!--------------------------------- FROM BEGINS HERE ------------------------------------------->
            <form>
                <div class = "row">
                    <div class="col-md-2" style="padding-top:10px;">
                        <label for="email" class="form-label">Email</label>
                    </div>
                    <div class="col-md-7">
                   
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                </div>
                <div class = "row">
                    <div class="col-md-2" style="padding-top:10px;">
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <div class="col-md-7">
                    <!--  -->
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class = "row">
                    <div class="col-md-9">
                        <input type="submit" routerLink="Dashboard" class="form-control submit-button" value="Login"> 
                    </div>
                </div>
                <!------------------------------------------- BOTTOM TWO LINKS  ---------------------------------------->
                <div class = "row bottom-elements">
                    <div class="col-md-5">
                   <a routerLink = '../../ForgotPassword'>Forgot Password?</a>
                    </div>
                </div>
             
            </form>
            <!------------------------- FROM ENDS HERE ------------------------------------------->
        </div>
        </div>
    </div>
</div>