/***************************** MAIN CONTINAER ********************************/
.container-fluid
{
    padding-bottom: 50%;
    margin-top:-2%;
}
/***************************** HEADING IMAGE ***********************/
.img-col img 
{
   
    height: 4vw;
}
.img-col
{
    /* background-color: white; */
    margin-right: -2%;
}
/*****************************HEADING ROW **********************************/
.heading-row
{
    border-radius: 15px;
    padding:1%;
  
} 
/* MAIN */
.content-container
{
    margin-top:1%;
    padding-bottom: 20%;
}
/****************************************** ADD FEEDBACK CARD STYLIGN **************************/
.add-feedback-card img
{
    height:8vh;
}
.add-feedback-card 
{
    border-radius:15px;
}

/********************************************* MODAL STYING *****************************/
#successModal img {
    height:10vh;
}
#successModal .modal-body {
    font-size:18px;
}

#errorModal .modal-body {
    font-size:18px;
}
#errorModal img {
    height:8vh;
}
#errorModal .text-muted
{
    font-size: 12px;
}




  
 