.navbar
{
    border-radius: 10px;
}
.navbar ul li a
{
   color: black;
   font-size: 17px;
}

.navbar ul li a:hover
{
   background-color:black;
    color: white;
    border-radius: 10px;
    transition-delay: 80ms;
}
