<div class="container-fluid ">
    <!--------------------- HEADING ROW  ---------------------->
    <div class="row heading-row shadow-sm bg-light">
        <div class="col-md-1 img-col">
            <img src="../../assets/admin-dashboard-exams.png" >
        </div>
        <div class="col-md-6">
            <h3>Exams Dashboard</h3>
            <h6 class="text-muted ">Add And Remove Exams From Here</h6>
        </div>
    <!----------------------HORIZONTAL BREAK  ----------------->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!----------------------- CONTENT ROW  ------------------------->
    <div class="row">
        <div class="container-fluid content-container bg-light">
            <h4>Exams List</h4>
            <!-- TABLE BEGIN -->
            
            <table class="table table-striped course-table">
                <thead>
                  <tr>
                    <th scope="col">Course ID</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Exam ID</th>
                    <th scope="col">Exam Level</th>
                    <th scope="col">Exam Time</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Modify</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of exams">
                    <td>{{e.Course_id}}</td>
                    <td>{{e.Course_name}}</td>
                    <td>{{e.Exam_id}}</td>
                    <td>{{e.level}}</td>
                    <td>{{e.time}} Mins</td>
                    <td><button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#DeleteExamModal" (click)="setDeleteExam(e.Exam_id)"><i class="fas fa-trash-alt"></i> Remove</button></td>
                    <td><button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#ModifyExamModal" (click)="GetExam(e.Exam_id)"><i class="fas fa-tools"></i> Modify</button></td>
                  </tr>
                </tbody>
              </table>
           
              <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddExamModal">
                    <i class="fas fa-plus"></i> Add Exam
                </button>
            
              <!-------------------------ADD EXAM MODAL ------------------------------------->
              
                <div class="modal fade" id="AddExamModal" tabindex="-1" aria-labelledby="AddExamModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><img src="../../assets/admin-dashboard-courses-add.png" class="img-fluid"> Add Exams</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-------------------- MODAL BODY ----------------------->
                        <div class="modal-body">

                            <form [formGroup]="AddExamForm">
                                <div class="mb-3">
                                  <label for="Course_id" class="form-label">Select Course</label>

                                  <select class="custom-select"  formControlName="Course_id">
                                    <option value="" disabled>Choose your Course</option>
                                    <option *ngFor="let c of courses" [value]="c.course_id">{{c.course_id}}-{{c.course_name}}</option> 
                                 </select>
                                 <!-- VALIDATION -->
                                 <div *ngIf="!Course_id?.valid && (Course_id?.dirty ||Course_id?.touched)">
                                  <div [hidden]="!Course_id.errors.required"  class="text-danger">
                                      *Course ID is required
                                    </div>
                                  </div>

                                </div>
                                <div class="mb-3">
                                    <label for="Time" class="form-label">Exam Time</label>
                                    <input type="number" class="form-control" id="Time" placeholder="Select Exam Time" formControlName="Time">
                                    
                                    <!-- VALIDATION -->
                                    <div *ngIf="!Time?.valid && (Time?.dirty ||Time?.touched)">
                                      <div [hidden]="!Time.errors.required"  class="text-danger">
                                          *Time is required
                                        </div>
                                        <div [hidden]="!Time.errors.min"  class="text-danger">
                                          *Time Cannot Be Less Than 10 Minutes
                                        </div>
                                        <div [hidden]="!Time.errors.max"  class="text-danger">
                                          *Time Cannot Be Greater Than 180 Minutes
                                        </div>
                                      </div> 

                                  </div>
                                <div class="mb-3">
                                    <label for="ExamLevel" class="form-label">Exam Level</label>
                                    <select class="custom-select" id ="ExamLevel" formControlName="Level">
                                      <option value="" disabled>Choose The Level</option>
                                      <option *ngFor="let l of levels" [value]="l">{{l}}</option> 
                                   </select>

                                  <!-- VALIDATION -->
                                    <div *ngIf="!Level?.valid && (Level?.dirty ||Level?.touched)">
                                      <div [hidden]="!Level.errors.required"  class="text-danger">
                                          *Level is required
                                        </div>
                                      </div> 

                                </div>  
                              </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" [disabled]="!AddExamForm.valid" (click)="submitForm()">Save</button>
                        </div>
                    </div>
                    </div>
                </div>

                <!------------------------------------------------- MODIFY MODAL ---------------------------------------------------------->
                            
              <div class="modal fade" id="ModifyExamModal" tabindex="-1" aria-labelledby="ModifyExamModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><img src="../../assets/admin-dashboard-courses-modify.png" class="img-fluid"> Modify Courses</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-------------------- MODAL BODY ----------------------->
                    <div class="modal-body">
                      <form [formGroup]="ModifyExamForm">

                                <div class="mb-3">
                                  <label for="course_id" class="form-label">Course ID</label>

                                 <input type="text" class="form-control" formControlName="course_id" disabled>

                                </div>
                                <div class="mb-3">
                                  <label for="course_id" class="form-label">Exam ID</label>

                                 <input type="text" class="form-control" formControlName="exam_id" disabled>

                                </div>
                                <div class="mb-3">
                                    <label for="time" class="form-label">Exam Time</label>
                                    <input type="number" class="form-control" id="time" placeholder="Select Exam Time" formControlName="time">
                                    
                                    <!-- VALIDATION -->
                                    <div *ngIf="!time?.valid && (time?.dirty ||time?.touched)">
                                      <div [hidden]="!time.errors.required"  class="text-danger">
                                          *Time is required
                                        </div>
                                        <div [hidden]="!time.errors.min"  class="text-danger">
                                          *Time Cannot Be Less Than 10 Minutes
                                        </div>
                                        <div [hidden]="!time.errors.max"  class="text-danger">
                                          *Time Cannot Be Greater Than 180 Minutes
                                        </div>
                                      </div> 

                                  </div>
                                <div class="mb-3">
                                    <label for="ExamLevel" class="form-label">Exam Level</label>
                                    <select class="custom-select" id ="ExamLevel" formControlName="level">
                                      <option value="" disabled>Choose The Level</option>
                                      <option *ngFor="let l of levels" [value]="l">{{l}}</option> 
                                   </select>

                                  <!-- VALIDATION -->
                                    <div *ngIf="!level?.valid && (level?.dirty ||level?.touched)">
                                      <div [hidden]="!level.errors.required"  class="text-danger">
                                          *Level is required
                                        </div>
                                      </div> 

                                </div>  
                     
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)= "submitModified()">Save</button>
                    </div>
                  </form>
                </div>
                </div>
                </div>
              </div>
                <!--------------------------------------- ARE YOU SURE MODAL -------------------------------------------->
                
                <div class="modal fade" id="DeleteExamModal" tabindex="-1" aria-labelledby="DeleteExamModal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><img src="../../assets/admin-dashboard-courses-delete1.png" class="img-fluid"> Delete Exam</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
                      </div>
                      <!-------------------- MODAL BODY ----------------------->
                      <div class="modal-body">
                        <h5> Are You Sure?</h5>
                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                      <button type="button" class="btn btn-danger" (click)="deleteExam()">Yes</button>
                      </div>
                  </div>
                  </div>
              </div>

              <!----------------------------------- SUCCESS MODAL ------------------------------------------------------------------->
              <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="successModalTitle">SUCCESS!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!-- MODAL BODY -->
                    <div class="modal-body">
                      <div class="row">
                          <div class="col">
                              <img src="../../assets/register-success.png/" class="img-fluid"> Saved Successfully
                          </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="refresh()">Close</button>
                       
                      </div>
                  </div>
                </div>
              </div>

               <!--------------------------------- ERROR MODAL ------------------------------------------------------------->
                <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="errorModalTitle">Error!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <!-- MODAL BODY -->
                      <div class="modal-body">
                        <div class="row">
                            <div class="col"><img src="../../assets/admin-dashboard-courses-delete1.png" class="img-fluid"> Exam Could Not Be Deleted
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  (click)="refresh()">Close</button>
                        </div>
                    </div>
                  </div>
                </div>


        </div>
    </div>
    </div>
</div>