<div class="container-fluid ">
    <!--------------------- HEADING ROW  ---------------------->
    <div class="row heading-row shadow-sm bg-light">
        <div class="col-md-1 img-col">
            <img src="../../assets/admin-dashboard-heading.png" >
        </div>
        <div class="col-md-6">
            <h3>Analytics Dashboard</h3>
            <h6 class="text-muted ">Find All The Insights Here!</h6>
        </div>
    <!----------------------HORIZONTAL BREAK  ----------------->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!----------------------- CONTENT ROW  ------------------------->
    <div class="row ">
        <div class="container-fluid content-container bg-light">
            <div class="row">
                <div class="col">
                    <div class="card  shadow-sm" style="width: 16rem;">
                        <div class="card-body">
                          <h5 class="card-title">Total Courses</h5>
                            
                            <div class="row">
                                   <!----------------------- NO OF COURSES ------------------------->
                                <div class="col-md-4">
                                    <img src="../../assets/analytics-exams.png" class="img-fluid">
                                </div>
                                <div class="col-md-8">
                                    <h3 class="mt-2">{{analytics.No_Of_Courses}}</h3>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                 <!----------------------- NO OF STUDENTS ------------------------->
                <div class="col">
                    <div class="card  shadow-sm" style="width: 16rem;">
                        <div class="card-body">
                          <h5 class="card-title">Total Students</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="../../assets/analytics-students.png" class="img-fluid">
                                </div>
                                <div class="col-md-8">
                                    <h3 class="mt-2">{{analytics.No_Of_Students}}</h3>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                 <!----------------------- NO OF EXAMS ------------------------->
                <div class="col">
                    <div class="card shadow-sm" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Total Exams</h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../assets/analytics-passPercent.png" class="img-fluid">
                                </div>
                                <div class="col-md-8">
                                    <h3 class="mt-1">{{analytics.No_Of_Exams}}</h3>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid content-container bg-light">
            <div class="row">
                 <!----------------------- EXAMS TAKEN ------------------------->
                <div class="col">
                    <div class="card  shadow-sm" style="width: 16rem;">
                        <div class="card-body">
                          <h5 class="card-title">Total Exams Taken</h5>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="../../assets/admin-dashboard-analytics-exams.png" class="img-fluid">
                                </div>
                                <div class="col-md-8">
                                    <h3 class="mt-2">{{analytics.No_Of_ExamsTaken}}</h3>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                 <!----------------------- NO OF FEEDBACKS ------------------------->
                <div class="col">
                    <div class="card  shadow-sm" style="width: 16rem;">
                        <div class="card-body">
                          <h5 class="card-title">Feedbacks Received</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="../../assets/student-dashboad-add-feedback.png" class="img-fluid">
                                </div>
                                <div class="col-md-8">
                                    <h3 class="mt-2">{{analytics.No_Of_Feedbacks}}</h3>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                 <!----------------------- NO OF QUESTIONS ------------------------->
                <div class="col">
                    <div class="card shadow-sm" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Total Questions</h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../assets/analytics-questions.png" class="img-fluid">
                                </div>
                                <div class="col-md-8">
                                    <h3 class="mt-1">{{analytics.No_Of_Questions}}</h3>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            
            </div>
        </div>
    </div>
    </div>
</div>