
<div class="container login-container ">
    
    <div class="card shadow-lg" >
        <div class="row g-0">
        <div class="col-md-4">
             <img src="../../assets/login.png" class = "img-fluid" alt="...">
            
        </div>
        <!-------------------------------------START OF CARD BODY  ------------------------------------------------->
        <div class="col-md-8">
            <div class="card-body">
            <h2 class="card-title">Reset Password</h2>
            <h4 class="card-subtitle">Please Enter Details</h4>
            <!--------------------------------- FROM BEGINS HERE ------------------------------------------->
            <form [formGroup]="ForgotPasswordForm" (ngSubmit)="submitForm()" novalidate>
              


                <div class = "row">
                    <div class="col-md-4" style="padding-top:10px;">
                        <label for="Email" class="form-label">Email</label>
                    </div>
                    <div class="col-md-6">
                   
                    <input type="email" class="form-control" id="Email" placeholder="name@example.com" formControlName="Email">
                    
                    <div
                         *ngIf="!Email?.valid && (Email?.dirty ||Email?.touched)">
                        <div [hidden]="!Email.errors.required"  class="text-danger">
                         *Email is required
                        </div>
                          </div>
                    </div>
                </div>

                
                   
                       
                <div class = "row">
                    <!-- <div class="col-md-4"></div> -->
                    <!-- <div class="col-md-6"> -->
                        <div class="col-md-10">
                        <input type="button" [disabled]="!Email.valid"  class="btn btn-secondary"  (click)="resetToggler()" (click)="sendEmail()" [attr.aria-expanded]="!isCollapsed1"
                        aria-controls="collapseExample" value="Request for Reset"> 
                    </div>
                </div>
                
               
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
                <div class = "row">
                    <div class="col-md-4" style="padding-top:10px;">
                        <label for="resetcode" class="form-label">Reset Code </label>
                    </div>
                   <div class="col-md-6">
                    <input type="text" class="form-control" id="resetcode"  placeholder="Enter Code sent in Email" formControlName="resetcode">
                    <div
                    *ngIf="!resetcode?.valid && (resetcode?.dirty ||resetcode?.touched)">
                   <div [hidden]="!resetcode.errors.required"  class="text-danger">
                       *Reset Code is required
                     </div>
                    </div>
               </div>
                </div>


                <div class = "row">
                    <div class="col-md-4" style="padding-top:10px;">
                        <label for="newpassword" class="form-label">New Password</label>
                    </div>
                    <div class="col-md-6">
                    <input type="password" class="form-control" id="newpassword" placeholder="Enter new password" formControlName="newpassword">
                    
                    <div
                    *ngIf="!newpassword?.valid && (newpassword?.dirty ||newpassword?.touched)">
                   <div [hidden]="!newpassword.errors.required"  class="text-danger">
                       *New Password is required
                     </div>
                     <div [hidden]="!newpassword.errors.pattern" class="text-danger">
                        *Password Must be at least 8 Characters long and should have at least one uppercase, one lowercase, one digit and one special character.
                      </div>

                    </div>
               </div>
                </div>

                <div class = "row">
                    <div class="col-md-4" style="padding-top:10px;">
                        <label for="confirmpassword" class="form-label">Confirm Password</label>
                    </div>
                    
                    <div class="col-md-6">
                    <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm new password" formControlName="confirmpassword">

                    <div
                    *ngIf="!confirmpassword?.valid && (confirmpassword?.dirty ||confirmpassword?.touched)">
                   <div [hidden]="!confirmpassword.errors.required"  class="text-danger">
                       *Confirm Password is required
                     </div>
                    
                    </div>
                    <div [hidden]="!ForgotPasswordForm.errors"  class="text-danger">
                        *Passwords Dont match
                      </div>
               </div>
                </div>



                <div class = "row">
                    <div class="col-md-10">
                        <input type="submit" [disabled]="!ForgotPasswordForm.valid"   class="form-control submit-button" value="Login"> 
                    </div>
                </div>

                </div>
                                         
            </form>
            <!------------------------- FROM ENDS HERE ------------------------------------------->
        </div>
        </div>
    </div>
</div>

<!------------------------------------------------- MODALS --------------------------------------------------->
 <!-- ERROR MODAL -->
 <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalTitle">Error!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- MODAL BODY -->
        <div class="modal-body">
          <div class="row">
              <div class="col"><img src="../../assets/admin-dashboard-courses-delete1.png" class="img-fluid"> Invalid Username Or Password
              </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
