<div class="container register-container ">
    
    <div class="card shadow-lg" >
        <div class="row g-0">
        <div class="col-md-5">
             <img src="../../assets/register.jpg" class = "img-fluid" alt="...">

        </div>
        <!-------------------------------------START OF CARD BODY  ------------------------------------------------->
        <div class="col-md-7">
            <div class="card-body">
            <h2 class="card-title">Register</h2>
            <h4 class="card-subtitle">Create Your Account Today!</h4>
            <!--------------------------------- FROM BEGINS HERE ------------------------------------------->
            <form id="registration-form" [formGroup]="RegisterFormGroup">
                <!---------------------- NAME INPUT ------------------------->
                <div class = "row">
                    <div class="col-md-3" style="padding-top:10px;">
                        <label for="name" class="form-label ">Full Name</label>
                    </div>
                    <div class="col-md-7">
                   
                    <input type="text" class="form-control" id="name" placeholder="Ian Piper">
                    </div>
                </div>
                <!---------------------- EMAIL INPUT ------------------------->
                <div class = "row">
                    <div class="col-md-3" style="padding-top:10px;">
                        <label for="email" class="form-label">Email</label>
                    </div>
                    <div class="col-md-7">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                </div>
                <!---------------------- PASSWORD INPUT ------------------------->
                <div class = "row">
                    <div class="col-md-3" style="padding-top:10px;">
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <div class="col-md-7">
                    
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <!---------------------- MOBILE NUMBER INPUT ------------------------->
                <div class = "row">
                    <div class="col-md-3" style="padding-top:10px;">
                        <label for="mobile" class="form-label">Mobile</label>
                    </div>
                    <div class="col-md-7">
                    
                    <input type="number" class="form-control" id="mobile" placeholder="Mobile No.">
                    </div>
                </div>
                <!---------------------- CITY INPUT ------------------------->
                <div class = "row">
                    <div class="col-md-3" style="padding-top:10px;">
                        <label for="city" class="form-label">City</label>
                    </div>
                    <div class="col-md-7">
                    
                    <input type="text" class="form-control" id="city" placeholder="Eg. Mumbai">
                    </div>
                </div>
                <!---------------------- DATE OF BIRTH INPUT ------------------------->
                <div class = "row">
                    <div class="col-md-3" style="padding-top:10px;">
                        <label for="dob" class="form-label">Date Of Birth</label>
                    </div>
                    <div class="col-md-7">
                    
                    <input type="date" class="form-control" id="dob" placeholder="">
                    </div>
                </div>
                <!---------------------- STATE INPUT ------------------------->
                <div class = "row">
                    <div class="col-md-3" style="padding-top:10px;">
                        <label for="state" class="form-label">State</label>
                    </div>
                    <div class="col-md-7"> 
                    <input type="text" class="form-control" id="state" placeholder="Eg. Maharashtra">
                    </div>
                </div>
                <!---------------------- QUALIFICATION INPUT ------------------------->
                <div class = "row">
                    <div class="col-md-3" style="padding-top:10px;">
                        <label for="qualification" class="form-label">Qualification</label>
                    </div>
                    <div class="col-md-7">     
                    <input type="text" class="form-control" id="qualification" placeholder="Eg. BTech">
                    </div>
                </div>
                <!---------------------- GRADUATION INPUT ------------------------->
                <div class = "row">
                    <div class="col-md-3" style="padding-top:10px;">
                        <label for="compleation" class="form-label">Graduation Year</label>
                    </div>
                    <div class="col-md-7">
                    <input type="number" class="form-control" id="compleation" placeholder="Eg. 2020">
                    </div>
                </div>
                <!-- captca -->
                  <div class = "row">
                    <div class="col-md-7">
                     <ngx-recaptcha2 [siteKey]="siteKey"></ngx-recaptcha2>
                    </div>
                </div>
                <!---------------------------------------------------- SUBMIT BUTTON  --------------------------------------------->
                <div class = "row">
                    <div class="col-md-10">
                        <input type="submit" class="form-control submit-button" value="Register"> 
                    </div>
                </div>
               
            </form>
            <!------------------------- FROM ENDS HERE ------------------------------------------->
        </div>
        </div>
    </div>
</div>
<!--------------------------------- SCRIPTS  ------------------------------------->
<script>
    function onSubmit(token) {
      document.getElementById("registration-form").submit();
    }
  </script>